
<h1 class="first">Home Page</h1>
<div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">Nome</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">Nome</div>
</div>
<div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">Nome</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                        <input type="text" pInputText placeholder="Username">         
                    </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">Cognome</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                        <input type="text" pInputText placeholder="Username">         
                    </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">Codice Fiscale</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                        <input type="text" pInputText placeholder="Username">         
                    </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g-12 ui-md-6 ui-lg-3">Sesso</div>
                <p-selectButton [(ngModel)]="selectedType"></p-selectButton>

<p>Selected Type: <span style="font-weight: bold">{{selectedType}}</span></p>
        </div>
</div>